html, body {
}

button {
  width: 30px;
  height: 30px;
  background: 0xffffff;
}

div {
  border: 0px solid green;
  padding: 0px;
  margin: 0px;
}

ul {
  list-style-type: none;
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  height: 700px;
  text-align: left;
  padding: 0;
  margin: 0;
}

li a {
  text-align: left;
  color: #000000;
  padding: 0px 0px;
  text-decoration: none;
  overflow: none;
}

li:last-child {
}

li a.active {
}

li a:hover:not(.active) {
  
}

#topbar {
  background: aqua;
  width: 100%;
  height: 120px;
}

#navbar, #content {
  overflow:auto;
  float:left;
  transition: width 1.1s;
}

#navbar {
  background:white;
  width: 20%;
  height: 1200px;
}

#navbar.collapsed {
  width: 0;
}

#navbar.collapsed + #content {
  width: 100%;
}

#content {
  background:yellow;
  width: 80%;
  height: auto;
}
